<div class="container col-md-12 border" ng-controller="ProjectsCtrl">
    <div class="row">
        <h1 class="text-center hide_proj">Projects</h1>
        <div ng-repeat="proj in projects" class="col-md-12 border_bottom">
            <div class="col-md-4 proj_img">
                <h2 class="gold_header_color text-center">{{proj.name}}</h2>
                <h4 class="proj_description">{{proj.description}}</h4>
                <a ng-href="{{proj.github_url}}">See on Github</a>
            </div>
            <div class="col-md-8 text-center">
                <a ng-href="{{proj.deployedUrl}}" target="_blank"><img class="proj_img" ng-src="{{proj.img}}" width="75%" alt="Project Image"></a>            
            </div>
        </div>
    </div>
</div>